// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-color: #27ae60;
$base-gradient: 'matte';
$alert-color: #2ecc71;
$confirm-color: #e67e22;
$page-bg-color: #3498db;
$form-bg-color: #ecf0f1;
$button-radius: '0';

.x-navigation-bar.x-docked-top {
  padding-top: 20px !important;
}


@import 'sencha-touch/default';
@import 'sencha-touch/default/all';




// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
